/* body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('C:/Users/XAVIER MATHIAS/Documents/HTML Tutorial/hackerrank/src/resources/bg.jpg');

} */

body {
    background-color: white;
    padding: 5px;
}

.home {
    background-color: white;
}

.about-nav {
    background-color: white;
}

.about-para {
    font-family: "Comfortaa",cursive;
    font-size: 18px;
}

.h2-heading {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

.icon-holder {
    width: 40px;
    height: auto;
    object-fit: scale-down;
}

.about-nav a {
    text-decoration: none;
    color: black;
    font-family: "Comfortaa";
}

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #1d2324/*#1E1E1E*/
    ;
    color: #9c9c9c;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
}

.main-body h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 45px;
    color: #1a2020;
}

.main-body h5 {
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
    color: #1a2020;
    font-weight: 600;
}

.footer a {
    color: #9c9c9c;
    text-decoration: none;
}

.main-body {
    position: relative;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 12vh;
}

.main-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    border-radius: 50%;
    height: 42vh;
    object-fit: scale-down;
}

.top-footer {
    position: relative;
    top: 20px;
    text-decoration: none;
}

.bottom-footer {
    position: relative;
    top: 40px;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
}

.about-bottom-footer {
    width: 100%;
    position: relative;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    text-align: center;
    bottom: 0;
    top: 20px;
    font-weight: 500;
}

.about-body {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 15px;
}

/* font-family: 'Work Sans', sans-serif; */
/*
blue 266DD3
grey 344055
dark green     293132
white E8F1F2
laurel gteen A4B494
303633
*/