@media screen and (max-width: 480px) {
    .about-para {
        font-family: "Comfortaa", cursive;
        font-size: 13px;
    }
    .h2-heading {
        font-family: 'Work Sans', sans-serif;
        font-weight: 900;
        font-size: 45px;
        color: #cad1d2;
    }
    .about-body {
        font-family: 'Comfortaa', cursive;
        color: #cad1d2;
        font-size: 12px;
    }
    .about-body li {
        font-family: 'Comfortaa', cursive;
        font-size: 15px;
        font-weight: bold;
        color: white;
    }
}

@media screen and (min-width: 481px) {
    .about-para {
        font-family: "Comfortaa", cursive;
        font-size: 18px;
    }
    .h2-heading {
        font-family: 'Work Sans', sans-serif;
        font-weight: 900;
        font-size: 50px;
        color: #cad1d2;
    }
    .about-body {
        font-family: 'Comfortaa', cursive;
        color: rgb(184, 184, 184);
        font-size: 15px;
    }
    .about-body li {
        font-family: 'Comfortaa', cursive;
        font-size: 18px;
        font-weight: bold;
        color: white;
    }
}

body {
    padding: 5px;
}

.about {
    width: 90vw;
    color: #c8c6c6;
}

.about-nav {
    background-color: black;
    text-decoration: none;
    width: 100vw;
    color: #c8c6c6;
}

.icon-holder {
    width: 40px;
    height: auto;
    object-fit: scale-down;
}

.about-nav a {
    text-decoration: none;
    color: #c8c6c6;
    font-family: "Comfortaa";
}

.footer {
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: #1d2324/*#1E1E1E*/
    ;
    color: #9c9c9c;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
}

.main-body h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 45px;
    /*color: #1a2020; */
    color: #cad1d2;
}

.definition {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    color: #888787;
    font-weight: 100;
}

.footer a {
    color: #888787;
    text-decoration: none;
    font-size: 15px;
}

.main-body {
    position: relative;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    top: 12vh;
}

.main-body img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    border-radius: 50%;
    height: 42vh;
    object-fit: scale-down;
}

.top-footer {
    position: relative;
    top: 20px;
    text-decoration: none;
}

.bottom-footer {
    position: relative;
    top: 40px;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
}

.bottom-footer p {
    font-size: 16px;
    color: rgb(87, 87, 87);
}

.about-bottom-footer p {
    width: 100%;
    position: relative;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    bottom: 0;
    top: 20px;
    font-size: 14px;
}

hr {
    height: 1px;
    color: rgb(255, 255, 255);
   
}